@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animateC {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes animate {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(405deg); }
}

@keyframes chitchat {
  0% { content: "#"; }
  5% { content: "."; }
  10% { content: "^{"; }
  15% { content: "-!"; }
  20% { content: "#$_"; }
  25% { content: "№:0"; }
  30% { content: "#{+."; }
  35% { content: "@}-?"; }
  40% { content: "?{4@%"; }
  45% { content: "=.,^!"; }
  50% { content: "?2@%"; }
  55% { content: "\\;1}]"; }
  60% { content: "?{%:%"; right: 0; }
  65% { content: "|{f[4"; right: 0; }
  70% { content: "{4%0%"; right: 0; }
  75% { content: "'1_0<"; right: 0; }
  80% { content: "{0%"; right: 0; }
  85% { content: "]>'"; right: 0; }
  90% { content: "4"; right: 0; }
  95% { content: "2"; right: 0; }
  100% { content: ""; right: 0; }
}

.loading-bar {
  position: relative;
  width: 110px;
  height: 110px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 111px;
  font-family: sans-serif;
  font-size: 15px;
  color: #fff000;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 20px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loading-bar:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 5px solid #fff000;
  border-right: 5px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.contact-button {
  position: relative;
  display: inline-flex;
  width: 160px;
  height: 45px;
  margin: 0 15px;
  perspective: 1000px;
  text-decoration: none;
}

.contact-button:before,
.contact-button:after {
  position: absolute;
  content: attr(data-text);
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  transition: transform 0.25s;
}

.contact-button:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}

.contact-button:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}

.contact-button:hover:before {
  transform: translateZ(-25px) rotateX(-90deg);
}

.contact-button:hover:after {
  transform: rotateY(0deg) translateZ(25px);
}

.social-button {
  @apply w-12 h-12 rounded-lg bg-[#ff6b00] flex items-center justify-center transition-transform hover:scale-110;
}

.website-button {
  --btn-default-bg: #010314;
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #7241FF;
  --default-btn-color: #fff;
  --font-size: 16px;
  --font-weight: 600;
  --font-family: Menlo,Roboto Mono,monospace;
  
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  border-radius: 10px;
  border: 2px solid #2A2B3A;
}

.website-button:hover {
  background: var(--btn-default-bg);
  box-shadow: 0px 0px 10px 0px rgba(119, 68, 255, 0.70);
  border: 2px solid #7241FF;
}

.website-button:hover span {
  color: var(--hover-btn-color);
}